<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{label.add}"></title>
<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="wrapper">
		<form th:action="@{/customOrder}" th:object="${customPackage}" method="GET" enctype="multipart/form-data">
			<table style="width:100%;">
				<thead>
					<tr>
						<td colspan="2" class="title">
							<label for="Add Package" th:text="#{label.addPackage}"></label>
						</td>
					</tr>
				</thead>
			</table>
			<table style="width:100%;">
				<tr>
					<td><label class="subtitle" for="Title:" th:text="#{label.packageName}">:</label></td>
					<td><input type="text" th:field="*{packageName}"/>
					</td>
					<td th:if="${#fields.hasErrors('packageName')}" th:errors="*{Name}" class="error"> Name Error</td>
				</tr>
				<tr>
					<td class="subtitle"><label for="Description:" th:text="#{label.packageDescription}">:</label></td>
					<td><textarea rows="4" cols="50" th:field="*{description}"></textarea>
					</td>
					<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"> Description Error</td>
				</tr>
				<tr>
					
					<td colspan="2" align="right" style="padding:8px;"><button type="submit" name="action" value="Add"><span th:text="#{label.add}"></span></button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>